
   <div class="menutop" style="background: orange;">
 <div class="container">
<ul class="nav" style="float: left;">
<li> <a href="" > Overview </a></li>
<li> <a href="#" > Price  </a></li>
<li> <a href="#" > Picture </a><i class="arrowup"></i></li>
<li> <a href="#" > Compare </a></li>
<li> <a href="#" > Spec. </a></li>
</ul>

<div class="carData clear">
<h1 class="carTitle">{{car.brand}} {{car.model_name}} Images</h1>
<p>Interior/Exterior Images </p>
</div>
<div class="carDetails">

<span><img src="./img/{{car.image.image1}}" /> </span>
<span><img src="./img/{{car.image.image2}}" /> </span>
<span><img src="./img/{{car.image.image3}}" /> </span>
<span><img src="./img/{{car.image.image4}}" /> </span>
<span><img src="./img/{{car.image.image5}}" /> </span>

</div>

</div>
